@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  position: relative;
  letter-spacing: 0.9px;
}
.p1 p {
  font-size: 15px;
  color: #fff;
}
.m-h h1 {
  font-size: 60px;
}
.m2 h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
  color: #fff;
}
/*  background: linear-gradient(
    117deg,
    rgba(0, 30, 5, 1) 0%,
    rgba(9, 71, 41, 1) 27%,
    rgba(9, 133, 71, 1) 51%,
    rgba(8, 194, 101, 1) 78%,
    rgba(8, 255, 131, 1) 100%
  ); */
.mainbanner {
  background: linear-gradient(
    117deg,
    rgb(0 30 5) 0%,
    rgb(9 71 41) 27%,
    rgb(9 133 71) 51%,
    rgb(8 194 101 / 71%) 78%,
    rgb(8 255 131 / 36%) 100%
  );
  height: 100vh;
  align-items: flex-end;
  display: flex;
  position: relative;
}
video#vid {
  position: absolute;
  height: 100%;
  z-index: -1;
  right: 0;
}
.bl h1 {
  font-size: 130px;
  line-height: normal;
  text-transform: capitalize;
  color: #fff;
}

.bl h1 span {
  color: #a5d738;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.mid {
  align-items: end;
}



.mwrap {
  text-align: right;
}
ul.menu-list {
  display: block;
}

ul.menu-list > li {
  display: inline-block;
  margin-right: 55px;
}

ul.menu-list > li > a {
  font-size: 17px;
  color: #fff;
  text-transform: capitalize;
}
.br {
  padding-left: 30%;
}
.tp
{
  padding-bottom: 20px;
}
.btm {
  border-top: 1px solid #fff;
  padding: 25px 0;
}
ul.sc-list {
  display: flex;
  gap: 30px;
  color: #fff
}

/* about us */
.ab-sec {
 
  background-color: #013A20;
  position: relative;
}
.h-wrp
{
  text-transform: uppercase;
   letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
}
.h-wrp h2 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 400;
}
.h-wrp h2 span {
  color: #a5d738;
}

/* about-round text */
.abtRoundMain svg {
	color: #fff;
	font-size: 65px
}
.abtRoundMain {
	right: 7%;
	top: 240px
}
.abtRoundMain,
.counter,
.roundedText {
  position: absolute;
  background-color: #a5d738;
  height: 240px;
  border-radius: 50%;
}
.roundedText,
.roundedTextAbt {
	animation: 20s linear infinite rotatory
}
@keyframes rotatory {
	0% {
		transform: rotate(0)
	}

	100% {
		transform: rotate(360deg)
	}
}

.sid h5 {
  color: #fff;
  display: inline-block;
  line-height: 55px;
  font-size: 35px;
}

.sid h5 span {
 color: #a5d738;;
}

.sid h5  img {
  border-radius: 50%;
  display: inline-block;
  vertical-align: baseline;
}
.countbx
{
  text-align: center;
}
.countbx h2 span
{
  color: #a5d738;
}
ul.tm-lst {
  display: block;
}

ul.tm-lst>li {
  display: inline-block;
  margin-left: -19px;
  vertical-align: middle;
}
.gbg {
  width: 60px;
  height: 60px;
  background: #a5d738;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.gbg p{
  font-size: 20px;
  font-weight: 600;
}
ul.tm-lst>li img {
  border-radius: 50%;
  box-shadow: 0px 3px 9px 2px #00000096;
}